/* 
 * This website is really half ass ):
 * esp the CSS
 */
@font-face{
    font-family: "SFMono";
    src: url('../fonts/SFMono/SF-Mono.ttf')
}
@font-face{
    font-family: "SFPro";
    src: url('../fonts/SFPro/SF-Pro-Text-Regular.otf')
}
@font-face{
    font-family: "SFCompact";
    src: url('../fonts/SFCompact/SF-Compact.ttf')
}
@font-face{
    font-family: "NY";
    src: url('../fonts/NewYork/NewYork.ttf')
}
.bg {
    background-color: #0a0a0c;
    padding: 10px;
}
nav {
    background-color: #1d1d1f;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; 
    background-color: #1d1d1f;
}
/*
body > .container {
    padding: 0px;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}  */

.container {
    width: 50%;
}
code {
    font-size: 80%;
    font-family: "SFMono";
}
a.footer-link {
    color: #06c;
    text-decoration: none;
    margin-right: 40px;
}
a.footer-link:hover {
    color: #06c;
    text-decoration: underline;
}
img.main {
    text-shadow: none;
}
img.picon {
    margin-left:25px;
}
.top-li-in-ul {
    padding-top: 10px;
}
h1 {
    font-family: "SFPro";
    color: #F9F6EF;
    font-size:200%;
}
h2 {
    font-family: "SFPro";
    color: #F9F6EF;
}
h3 {
    font-family: "SFPro";
    color: #F9F6EF;
}
h4 {
    font-family: "SFPro";
    color: #F9F6EF;
}
span, p {
    font-family: "SFPro";
    color: #F9F6EF;
}
li.main { 
    color: #F9F6EF; 
}
.float-container {
    margin-top: 50px;
    padding: 50px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  
td {
    padding: 10px;
}

.web {
    background-color: #1DA1F2;
    border: 2px #1DA1F2 solid;
}

.web:hover
{
    background-color: #0d659c;
    border: 2px #0d659c solid;
}


.mail {
    border: 2px #228B22 solid;
    background-color: #228B22;
   
}

.mail:hover
{
    background-color: #006400;
    border: 2px  #006400 solid;
}

.ig {
    border: 2px #FD1D1D solid;
    background-color: #FD1D1D;
}

.ig:hover
{
    background-color: #ab0900;
    border: 2px  #ab0900 solid;
}

.git {
    border: 2px #6f42c1 solid;
    background-color: #6f42c1;
}

.git:hover
{
    background-color: #1b1f23;
    border: 2px  #1b1f23 solid;
}
.btn-s {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 10px;

}