/* Apple Fonts */
@font-face{
    font-family: "SFMono";
    src: url('../fonts/SFMono/SF-Mono.ttf')
}
@font-face{
    font-family: "SFPro";
    src: url('../fonts/SFPro/SF-Pro-Text-Regular.otf')
}
@font-face{
    font-family: "SFCompact";
    src: url('../fonts/SFCompact/SF-Compact.ttf')
}
@font-face{
    font-family: "NY";
    src: url('../fonts/NewYork/NewYork.ttf')
}
.bg {
    background-color: #0a0a0c;
}
nav {
    background-color: #1d1d1f;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; 
    background-color: #1d1d1f;
}
body > .container {
    padding: 65px 15px 0;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}  
code {
    font-size: 80%;
    font-family: "SFMono";
}
a.footer-link {
    color: #06c;
    text-decoration: none;
    margin-right: 40px;
}
a.footer-link:hover {
    color: #06c;
    text-decoration: underline;
}
img.main {
    margin-left: 25%;
    margin-right: 25%;
}
img.picon {
    margin-left:25px;
}
.top-li-in-ul {
    padding-top: 10px;
}
h1 {
    font-family: "SFPro";
    color: #F9F6EF;
    font-size:200%;
}
h2 {
    font-family: "SFPro";
    color: #F9F6EF;
}
h3 {
    font-family: "SFPro";
    color: #F9F6EF;
}
h4 {
    font-family: "SFPro";
    color: #F9F6EF;
}
span, p {
    font-family: "SFPro";
    color: #F9F6EF;
}
li.main { 
    color: #F9F6EF; 
}
.float-container {
    margin-top: 50px;
    padding: 50px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  