body {
    padding: 20px;
}
h1, h2, h3, h4, p {
    font-family: "SFPro";
}
a {
    color:#1DA1F2;
}
a:hover {
    color:#0d659c;
}
div {
    border: 0px dashed black;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
img {
    max-height: 320px;
    margin: 10px;
    border-radius: 10px;
}
.btn-link {
    padding: 0!important;
    font-family: "SFPro";
    text-decoration: underline;
    cursor: pointer;
}

code {
    background-color: none !important;
    font-family: "SFMono" !important;
}